body {
    background-color: #222;
    font-family: Arial, sans-serif;
    color: #66d9e8;
}

#tablet {
    width: 400px;
    height: 600px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #111;
    padding: 10px;
    text-align: right;
}

.header button {
    background: transparent;
    border: none;
    color: #66d9e8;
    font-size: 20px;
}

.content {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.crypto, .market {
    display: flex;
    flex-direction: column;
}

.market-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.market-item {
    background-color: #444;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.buy-btn {
    background-color: #66d9e8;
    border: none;
    padding: 5px;
    color: #222;
    cursor: pointer;
}

#transfer-btn {
    background-color: #66d9e8;
    border: none;
    padding: 10px;
    color: #222;
    cursor: pointer;
}

#close-tablet-btn {
    background: transparent;
    border: none;
    color: #66d9e8;
    font-size: 25px;
}
